/spicetify/.config/spicetify/Extracted
/spicetify/.config/spicetify/Backup
/hyde/.config/hyde/themes/wall.set
/hyde/.config/hypr/themes/colors.conf
/rofi/.config/rofi/theme.rasi
/waybar/.config/waybar/theme.css
