* {
    main-bg:            #D980C4B3;
    main-fg:            #522948E6;
    main-br:            #1F96B9E6;
    main-ex:            #2E2C5DE6;
    select-bg:          #3A496B80;
    select-fg:          #CCDCFFE6;
}
