* {
    main-bg:            #D7AEFDB3;
    main-fg:            #3E2952E6;
    main-br:            #251B5DE6;
    main-ex:            #5947B1E6;
    select-bg:          #443A6B80;
    select-fg:          #D6CCFFE6;
}
