* {
    main-bg:            #DE446FB3;
    main-fg:            #522934E6;
    main-br:            #2B2C61E6;
    main-ex:            #783670E6;
    select-bg:          #3A3E6B80;
    select-fg:          #CCD0FFE6;
}
