clipboard              # Clipboard manager for managing clipboard history
clipse                 # Clipboard manager for managing clipboard history
cmake                  # Cross-platform build system, essential for compiling many open-source projects
direnv                 # Tool to load and unload environment variables based on the directory
docker                 # Containerization platform, used for creating, deploying, and running containers
dockfmt                # Dockerfile formatting tool, ensures consistent Dockerfile styling
emacs                  # Extensible text editor with support for various languages and extensions
fd                     # Fast alternative to `find`, used for searching directories and files
fzf                    # Command-line fuzzy finder, helps locate files and commands quickly
hyperland              # Wayland compositor, provides a dynamic window management experience on Wayland
hyprclock              # Simple clock module for use with Hyprland setups
hypridle               # Idle management for Hyprland, useful for screen dimming or locking on inactivity
hyprland               # Window manager for Wayland with advanced tiling and dynamic layouts
hyprlock               # Screen locker designed for Hyprland
hyprpaper              # Wallpaper manager for Hyprland, handles background images
hyprshot               # Screenshot tool for Hyprland, captures screen images
imagemagick            # for image processing
jq                     # for json processing
just                   # Command runner, simplifies the execution of custom commands and scripts
kitty                  # Terminal emulator with GPU acceleration, known for high performance and customization
nerd-fonts-symbols     # Collection of patched fonts with extra symbols, useful for customizing terminals and status bars
ripgrep                # Fast text search tool, optimized for searching large codebases
shellcheck             # Linter for shell scripts, catches syntax errors and suggests improvements
shfmt                  # Shell script formatter, enforces consistent styling for shell scripts
spicetify-cli          # Spotify theming
stow                   # Tool for managing symbolic links, commonly used for managing dotfiles
swaync                 # Notification manager for Wayland, designed for Sway but works with other Wayland compositors
tree                   # Command-line utility to display directory structures as a tree
tree-sitter            # Incremental parsing system, often used in text editors for syntax highlighting
tree-sitter-cli        # Command-line interface for Tree-sitter, allows syntax parsing from the terminal
ttf-cascadia-code-nerd # Cascadia Code font with Nerd Font symbols, good for programming and terminal displays
ttf-font-awesome       # Iconic font and CSS toolkit, provides icons for various applications
ttf-nerd-fonts-symbols # Nerd Fonts with extra symbols for customizing the terminal and status bars
waybar                 # Customizable status bar for Wayland-based window managers
wl-clipboard           # Wayland clipboard utilities, allows copying and pasting between applications
wofi                   # Application launcher for Wayland, similar to Rofi but for Wayland
xclip                  # Command-line interface for X11 clipboard, allows clipboard interactions via terminal
ydotool                # Tool for emulating keyboard and mouse input on Wayland
zoxide                 # A smarter cd command
fastfetch              # system information fetch tool
eza|zsh                                                # file lister for zsh

# --------------------------------------------------- // System
pipewire                                               # audio/video server
pipewire-alsa                                          # pipewire alsa client
pipewire-audio                                         # pipewire audio client
pipewire-jack                                          # pipewire jack client
pipewire-pulse                                         # pipewire pulseaudio client
gst-plugin-pipewire                                    # pipewire gstreamer client
wireplumber                                            # pipewire session manager
pavucontrol                                            # pulseaudio volume control
pamixer                                                # pulseaudio cli mixer
networkmanager                                         # network manager
network-manager-applet                                 # network manager system tray utility
bluez                                                  # bluetooth protocol stack
bluez-utils                                            # bluetooth utility cli
blueman                                                # bluetooth manager gui
brightnessctl                                          # screen brightness control
udiskie                                                # manage removable media
NetworkManager
bluetooth
cava                                                   # Display sound in terminal
# --------------------------------------------------- // Window Manager
dunst                                                  # notification daemon
rofi-wayland                                           # application launcher
waybar                                                 # system bar
swww                                                   # wallpaper
wlogout                                                # logout menu
grimblast-git                                          # screenshot tool
hyprpicker                                             # color picker
slurp                                                  # region select for screenshot/screenshare
swappy                                                 # screenshot editor
cliphist                                               # clipboard manager
cava                                                   # Display sound bars in terminal
hyprswitch                                             # Switch between opened apps
